# Ignorar ejecutables de Windows
*.exe

# Ignorar ejecutables de Linux
*.out
*.bin

# Archivos generados por compiladores
*.o
*.a
*.so
*.d

# Archivo con objetos compilados
obj

# Misc.
*.log
*.tmp
.vscode